/* Les boutons d'admin survolent la page (sauf #FORMULAIRE_ADMIN) */
.spip-admin-float {
	top: 0px;
	right: 20px;
	position: absolute;
	z-index: 100;
}


/* Couleurs et design des boutons d'admin */
.spip-admin-bloc {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: transparent;
	font-size: 10px;
}

.spip-admin-bloc li {
	padding: 0 2px;
	display: inline;
}

.spip-admin-bloc ul {
	display: inline;
}

a.spip-admin-boutons {
	border-top: 1px solid #cecece;
	border-bottom: 2px solid #4a4a4a;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	text-decoration: none;
	width: 3em;
	text-align: center;
	margin: 0;
	padding: 1px .5em;
	font-family: helvetica,arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #fff;
	color: #0c479d;
}

a:hover.spip-admin-boutons {
	background-color: #fc3;
	border-bottom: 2px solid #36f;
}

a:active.spip-admin-boutons {
	background-color: #ccc;
	border-bottom: 2px solid #f00;
}


/* Style pour le mode debug */
#spip-debug {
	background-color: #f0f0f0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#spip-debug ul table {
	font-size: 80%;
}

#spip-debug fieldset {
	background-color: #FFF;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

#spip-debug legend {
	background-color: #FFF;
	border: solid 1px #F00;
	padding: 1px 1em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#spip-debug ul table a {
	text-decoration: none;
}

#spip-debug ul table a:hover {
	text-decoration: underline;
}
