<plugin>
	<nom>Mes fichiers 2</nom>
	<auteur>SarkASmeL, d'après la version initiale de James</auteur>
	<version>0.1</version>
	<etat>dev</etat>
	<licence>GPL 3</licence>
	<icon>images/mes_fichiers-64.png</icon>
	<description>
Ce plugin fabrique un fichier d'archives contenant le dernier dump de sauvegarde de la base, le dossier <code>squelettes/</code>, le dossier <code>IMG/</code> et le fichier <code>mes_options.php</code>

Le fichier d'archives est cr&eacute;&eacute; dans <code>tmp/</code> et se nomme <code>mes_fichiers_aaaammjj_hhmm.zip</code>.
	</description>
	<lien>http://www.spip-contrib.net/Mes-fichiers</lien>

	<prefix>mes_fichiers</prefix>
	<options>mes_fichiers_options.php</options>
	<onglet id='mes_fichiers' parent='administration'>
		<icone>images/mes_fichiers-24.png</icone>
		<titre>mes_fichiers:titre_onglet</titre>
	</onglet>
	<necessite id="SPIP" version='[2.0.0;]' />
	<necessite id='spip_bonux' version='[1.0;]' />
</plugin>
