/*
 * Styles du calendrier
 */
 
div.navigation-calendrier {
	color: white;
	font-family: verdana, arial, sans,sans-serif;
	font-size: 14px;
	padding: 2px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

div.navigation-calendrier img {
	border: 0px;
	vertical-align: middle;
	margin: 1px;
}

a.calendrier-annee {
	background-color: #aaaaaa;
	padding: 3px;
	margin: 1px;
	font-family: verdana, arial, sans,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: white;
	-moz-border-radius: 5px;
}

a.calendrier-annee:hover {
	color: black;
	background-color: white;
}

.calendrier-table-large { 
	border: 0px;
	width: 975px;
 }

.calendrier-td-large-centre { 
	width: 535px;
  	vertical-align: top;
 }

.calendrier-td-large-bord { 
	width: 200px;
  	vertical-align: top;
 }

.calendrier-table-etroit { 
	border: 0px;
	width: 750px;
 }

.calendrier-td-etroit-centre { 
	width: 630px;
  	vertical-align: top;
 }

.calendrier-td-etroit-bord { 
	width: 100px;
  	vertical-align: top;
 }

.calendrier-jour { 
	margin: 1px;
	padding: 2px;
	background-color: white;
	text-align: center; 
	-moz-border-radius: 5px;
 }

.calendrier-demijour { 
	margin-left: 1px;
	margin-top: 1px;
	padding: 2px;
	text-align: center; 
	-moz-border-radius: 5px;
 }

.calendrier-opacity { 
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
}

.calendrier-arial9 { 
	font-family: Arial, Sans, sans-serif; font-size: 9px;
}

.calendrier-arial10 { 
	font-family: Arial, Sans, sans-serif; font-size: 10px;
}

.calendrier-arial11 { 
	font-family: Arial, Sans, sans-serif; font-size: 11px;
}

.calendrier-verdana10 {
	font-family: Verdana, Arial, Sans, sans-serif; font-size: 10px;
}

.calendrier-helvetica16 {
	font-family: arial,helvetica,sans-serif;
	font-size: 16px; 
	color: black;
}

.calendrier-png { 
	width: 12px; 
	height: 12px;
	behavior: url(win_png.htc);
}