/*
 * Styles du calendrier
 */
 
.calendrier-arial9 { 
	font-family: Arial, Sans, sans-serif; font-size: 9px;
}

.calendrier-arial10 { 
	font-family: Arial, Sans, sans-serif; font-size: 10px;
}

.calendrier-arial11 { 
	font-family: Arial, Sans, sans-serif; font-size: 11px;
}

.calendrier-verdana10 {
	font-family: Verdana, Arial, Sans, sans-serif; font-size: 10px;
}

.calendrier-helvetica16 {
	font-family: arial,helvetica,sans-serif;
	font-size: 16px; 
	color: black;
}

div.navigation-calendrier {
	color: white;
	font-family: verdana, arial, sans,sans-serif;
	font-weight: bold;
	font-size: 14px;
}

div.navigation-calendrier img {
	border: 0px;
	vertical-align: middle;
	margin: 1px;
}

a.calendrier-annee {
	background-color: #aaaaaa;
	padding: 3px;
	margin: 1px;
	font-family: verdana, arial, sans,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: white;
	-moz-border-radius: 5px;
}

a.calendrier-annee:hover {
	color: black;
	background-color: white;
}

.calendrier-table-large { 
	border: 0px;
	width: 900px;
 }

.calendrier-table-etroit { 
	border: 0px;
	width: 750px;
 }

.calendrier-td-centre { 
	width: 550px;
	padding-left: 25px;
	padding-right: 25px;
  	vertical-align: top;
 }

.calendrier-table-etroit  .calendrier-td-gauche {
	width: 0px;
  	vertical-align: top;
 }

.calendrier-table-large  .calendrier-td-gauche {
	width: 150px;
  	vertical-align: top;
 }

.calendrier-table-etroit  .calendrier-td-droit {
	width: 150px;
  	vertical-align: top;
 }

.calendrier-table-large  .calendrier-td-droit {
	width: 150px;
  	vertical-align: top;
 }

.calendrier-jour { 
	color: #999999;
	background-color: white;
	border: 1px solid #aaaaaa;
}

.calendrier-agenda { 
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	text-align: center; 
	background-color: white;
	-moz-border-radius: 5px;
 }

.calendrier-demiagenda { 
	margin-left: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align: center; 
	background-color: white;
	-moz-border-radius: 5px;
 }


.calendrier-tripleagenda { 
	vertical-align: top;
	width: 33%;  
 }

.calendrier-cadreagenda { 
	visibility: hidden;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
 }

.calendrier-titre { 
	padding: 5px;
	text-align: center; 
	font-weight: bold;
 }

.calendrier-heurepile { 
	position: absolute;
	margin-left: 2px;
	margin-right: 2px;
	border-top: 1px solid #cccccc;
	font-weight: bold;
 }

.calendrier-heureface { 
	position: absolute;
	margin-left: 2px;
	margin-right: 2px;
	border-top: 1px solid #cccccc;
 }

.calendrier-mozleft { 
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
 }

.calendrier-mozright { 
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
 }

.calendrier-moztop8 { 
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

.calendrier-mozbottom8 { 
	-moz-border-radius-bottomleft: 8px; 
	-moz-border-radius-bottomright: 8px;
}

.calendrier-moztop6 { 
	-moz-border-radius-topleft: 6px; 
	-moz-border-radius-topright: 6px;
}

.calendrier-mozbottom6 { 
	-moz-border-radius-bottomleft: 6px; 
	-moz-border-radius-bottomright: 6px;
}

.calendrier-opacity { 
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
}


.calendrier-png { 
	width: 12px; 
	height: 12px;
	behavior: url(win_png.htc);
}

.calendrier-icone { 
	width: 14px;
	height: 7px;
	border: 0px;
}
