body { font-family: Verdana, Geneva, Sans, sans-serif; }
body { border: 0; }


div.pos_r { position: relative; }

option.selec_rub { background-repeat: no-repeat; }

div.messages { padding: 5px; font-size: 10px; font-weight: bold; }


.puce_article .puce_article_popup, .puce_breve .puce_breve_popup, .puce_site .puce_site_popup { visibility: hidden; }
.puce_article.on .puce_article_popup, .puce_breve.on .puce_breve_popup, .puce_site.on .puce_site_popup  { visibility: visible; }
